@import "../../style.scss";

.footer {
    @include themify($themes) {
        background-color: themed("bgSoft");
        color: themed("textColor");

        p {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            height: 50px;
            border-top: 1px solid themed ("border");

            a {
                gap: 5px;
            }
        }
    }
}