@import "../../style.scss";

.leftbar {
    @include themify ($themes) { 
        display: flex;
        align-items: center;
        background-color: themed("bg");
        bottom: 0;
        max-width: 100vh;
        height: 70px;
        color: themed("textColor");

        @include mobile {
            display: none;
        }

        &::-webkit-scrollbar{
            display: none;
        }

        .container {
            padding: 20px;

            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                table {
                    border: solid 1px themed("border");

                    thead {
                        background-color: themed("bg");
                        font-size: x-large;
                        text-align: center;
                        font-weight: bold;
                        color: themed("textColor");

                        tr:nth-child(odd) {
                            background-color: themed ("bg");
                        
                            th {
                                display: flex;
                                align-items: center;
                                padding: 5px;
                                color: themed ("bgSoft");

                                img {
                                    width: 30px;
                                }

                                span {
                                    font-size: 16px;
                                    font-family: cursive;
                                    color: themed ("logo");
                                }
                            }
                        }                  
                    }
                }
            }
        }

    }
}
