.register {
    height: 100vh;
    background-image: url(./qs-project-01-body.jpg);
    background-color: rgba(217, 81, 255, 0.715);
    background-blend-mode: soft-light;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .card{
        width: 50%;
        display: flex;
        flex-direction: row-reverse;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
        min-height: 600px;
        overflow: hidden;

        .left {
            display: flex;
            flex: 1;
            flex-direction: column;
            background-image: linear-gradient(rgba(42, 4, 42, 0.493), rgba(234, 139, 234, 0.836)), url(./registration-background.jpg);
            background-size: cover;
            padding: 50px;
            gap: 30px;
            color: themed ("textColor");

            h1{
                font-size: 60px;
                line-height: 100px;
            }

            p{

            }

            span{
                font-size: 14px;
                color: themed ("textColorSoft");
            }

            button{
                width: 50%;
                padding: 10px;
                border: none;
                color:blueviolet;
                font-weight: bold;
                background-color: white;
                border-radius: 5px;
                cursor: pointer;
                &:hover{
                    background-color: plum;
                }
            }
        }

        .right {
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content: center;

            h1{
                color: #555;
            }

            form{
                display: flex;
                flex-direction: column;
                gap: 30px;

                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                }

                button{
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: blueviolet;
                    color: white;
                    font-weight: bold;
                    border-radius: 5px;
                    cursor: pointer;
                    &:hover{
                        background-color: plum;
                    }
                }
            }
        }
    }
}
